<nb-card [style.width.px]="600" [style.height.px]="600">
    <nb-card-header>Beatmakers</nb-card-header>
    <nb-card-body>
        <div class="managerList" *ngFor="let manager of managerList.pallier">
            <nb-user class="manager-item"  size="large" [name]="manager.name" 
            [title]="manager.seuil + ' punchlines'" [picture]="imageUrl + manager.logo" 
            [badgeText]="manager.unlocked ? '✔' : ''"
            badgeStatus="success"
            badgePosition="bottom right"></nb-user>
            <button nbButton (click)="buyManager(manager)" class="buy-manager-button" 
            [disabled]="money < manager.seuil || manager.unlocked">Acheter</button>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="dismiss()">Fermer</button>
    </nb-card-footer>
  </nb-card>