<nb-card [style.width.px]="600" [style.height.px]="600">
  <nb-card-header>{{ allUnlocks ? 'Battles' : 'Albums' }}</nb-card-header>
  <nb-card-body>
    <div *ngIf="!allUnlocks; else allUnlocksBlock">
        <div class="managerList" *ngFor="let unlock of unlocks">
            <nb-user class="manager-item" size="large" 
            [name]="unlock.this.name" [picture]="imageUrl + unlock.this.logo"
            [title]="unlock.product.name"
            [badgeText]="unlock.product.quantite + '/' + unlock.this.seuil"
            badgePosition="bottom right"
            ></nb-user>
          </div>  
    </div>
  
    <ng-template #allUnlocksBlock>
        <div class="managerList" *ngFor="let unlock of unlocks">
            <nb-user class="manager-item" size="large" 
            [name]="unlock.name" [picture]="imageUrl + unlock.logo"
            [badgeText]="unlock.unlocked ? '✔' : ''"
            badgeStatus="success"
            badgePosition="bottom right"
            ></nb-user>
        </div>
    </ng-template>

  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="dismiss()">Fermer</button>
  </nb-card-footer>
</nb-card>