<nb-layout>

  <nb-layout-header fixed>
    <img [src]="server + world.logo" alt="" id="imgLogo">
    <span id="title">{{ world.name }}</span>
    <input [(ngModel)]="username" (change)="onUsernameChanged()" class="inputHeader" type="text" placeholder="Utilisateur" nbInput>
    <span class="scoreHeader">Punchlines: {{ world.money | number:'3.1-2' }}</span>
    <button (click)="changeMultiplier()" id="multiButton" nbButton>{{ multiplierText }}</button>
  </nb-layout-header>

  <nb-sidebar responsive>
    <ul class="menu">
      <li (click)="showManagerDialog()" class="menu-item">Beatmakers</li>
      <li (click)="showUnlocksDialog(false)" class="menu-item">Albums</li>
      <li (click)="showUnlocksDialog(true)" class="menu-item">Battles</li>
    </ul>
  </nb-sidebar>

  <nb-layout-column>
    <span *ngFor="let product of world?.products.product; index as i">
      <span *ngIf="i % 2 === 0">
        <app-product [prod]="product" [money]="world.money" [multiplierIndex]="multiplierTextIndex" (notifyProduction)="onProductionDone($event)" (onBuy)="onProductBuy($event)"></app-product>
      </span>
    </span>
  </nb-layout-column>
  <nb-layout-column>
    <span *ngFor="let product of world?.products.product; index as i">
      <span *ngIf="i % 2 === 1">
        <app-product [prod]="product" [money]="world.money" [multiplierIndex]="multiplierTextIndex" (notifyProduction)="onProductionDone($event)" (onBuy)="onProductBuy($event)"></app-product>
      </span>
    </span>
  </nb-layout-column>

  <nb-layout-footer fixed>
      © Camparmo Corentin & Chataignon Corentin
  </nb-layout-footer>

</nb-layout>
