.inputHeader {
    margin-left: auto;
}

#title {
    font-family: 'AlfaSlabOne-Regular';
    font-size: 25px;
}

#imgLogo {
    width: 80px;
    margin-right: 10px;
}

.scoreHeader {
    font-family: 'AlfaSlabOne-Regular';
    font-size: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#multiButton {
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
}

.menu-item {
    list-style: none;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(187, 103, 200);
}

.menu-item:hover {
    font-weight: bold;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
}

.menu-item a:hover {
    font-weight: bold;
}