<nb-card>
  <nb-card-header>
    <nb-user (click)="startFabrication()" [name]="product?.name" [picture]="this.imageUrl + product?.logo" size="xlarge" [badgeText]="product?.quantite" [title]="'Écrit ' + product?.revenu + ' punchlines'" badgePosition="bottom right"></nb-user>
  </nb-card-header>
  <nb-card-body>
    <div class="progress" #bar> </div>
  </nb-card-body>
  <nb-card-footer>
    <button (click)="buyProduct()" [disabled]="money < calcCout()" nbButton>Sortir {{ qtList[multiplierIndex] }} freestyle(s)<span id="nb-freestyle"> ({{ calcCout() | number:'1.0-0' }} punchlines)</span></button>
  </nb-card-footer>
</nb-card>