/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Priscillia';
  src: url('assets/fonts/priscillia.otf') format('opentype');
}

@font-face {
    font-family: 'AlfaSlabOne-Regular';
    src: url('assets/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
}

body {
    background-color: #eee;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.nb-theme-default nb-menu .menu-item a {
    padding: 0.675rem 0.75rem;
    border-radius: .5rem;
}


.nb-theme-default nb-menu {
    background: #7b1fa2;
}

.nb-theme-default nb-sidebar .main-container {
    background: #7b1fa2;
    color: #fff;
}

.nb-theme-default nb-menu .menu-items>.menu-item:first-child {
    border: none;
    color: #f3e5f5;
}

.nb-theme-default nb-menu .menu-items>.menu-item {
    border: none;
    color: #f3e5f5;
}

.nb-theme-default nb-layout .layout nb-layout-header nav {
    background: #9c27b0;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 12px -5px rgba(156,39,176,.46);
    color: #fff;
}

.nb-theme-default nb-layout .layout .layout-container .content nb-layout-footer nav {
    background: #9c27b0;
    color: #fff;
}

.nb-theme-default [nbInput] {
    border: 2px solid #9c27b0;
    color: #2a2a2a;
}

.nb-theme-default [nbInput]:focus {
    border-color: #7b1fa2;
}

.nb-theme-default [nbButton] {
    background-color: #ba68c8;
}

.nb-theme-default [nbButton]:hover, .nb-theme-default [nbButton].hover {
    background-color: #ce93d8;
}

.nb-theme-default [nbButton]:active, .nb-theme-default [nbButton].active, .nb-theme-default [nbButton]:active:focus {
    background-color: #8e24aa;
}

.nb-theme-default [nbButton]:focus, .nb-theme-default [nbButton].focus  {
    background-color: #ce93d8;
}

.nb-theme-default .nb-badge.nb-badge-primary {
    background-color: #6a1b9a;
}

nb-user.manager-item {
    margin-bottom: 10px;
    width: 75%;
}

.managerList {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
}